/Documentation/ export-ignore
/Tests/ export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.github export-ignore
/ecs.php export-ignore
/Makefile export-ignore
/phpstan.neon export-ignore
/rector.php export-ignore
/README.md export-ignore
