* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 1rem;
    margin: 0;
}

article {
    border-bottom: 1px solid lightgray;
}

article:last-child {
    border: none;
}

aside {
    padding: 1rem;
    background: aliceblue;
    text-align: center;
}

dt {
    font-weight: bold;
    margin-bottom: .5rem;
}

dt::after {
    content: ":";
}

dd {
    margin-bottom: .5rem;
}

dd p {
    margin: .5rem 0;
}

dd p:first-child {
    margin-top: 0;
}

dd p:last-child {
    margin-bottom: 0;
}

img {
    float: right;
    max-width: 150px;
}

h1 {
    font-size: 2.5rem;
    font-weight: normal;
    margin: 0;
}

h2 {
    font-size: 1.4rem;
}

.feed {
    max-width: 50rem;
    margin: 2rem auto;
    padding: 0 1rem;
}

.summary {
    margin-bottom: 2rem;
}

.summary::after {
    clear: both;
}
